body {
    margin: 0px;
    padding: 0px;
    background-color: #28282b;
    background-image: url("https://media.istockphoto.com/photos/financial-banner-background-for-business-finance-and-investment-picture-id1282328010?b=1&k=20&m=1282328010&s=170667a&w=0&h=7E0xe_4gVPLNkicG5gpGBISRR_RsBF5h-mJGlfgs6pc=");
    background-size: contain;
}

.btn button {
    margin: 5px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border-radius: 9px;
    border: solid 0.5px;
    border-color: rgb(0, 46, 31);
    box-shadow: inset 5px 3px 3px 1px rgb(174 133 133), 5px 3px 3px 1px rgb(210 203 203);
}

.calculator-body .zero {
    width: 190px;
}

.btn button:hover {
    border: solid 1px rgb(140, 114, 114);
    color: white;
    background-color: red;
    box-shadow: inset 5px 3px 3px 1px rgb(174 133 133);
}

.btn p {
    font-size: 20px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.calculator-body {
    text-align: -webkit-center;
    border-radius: 10px;
    margin: 20px;
    width: 500px;
    height: 600px;
    background-color: #d7d7d7;
    box-shadow: 10px 0px 20px -1px rgb(47 36 36);
}

.output {
    padding-right: 5px;
    font-size: 26px;
    text-align: right;
    height: 80px;
    width: 77%;
    margin-top: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.btn-all {
    background-color: transparent;
}

.btn {
    background-color: transparent;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    height: auto;
    padding: 30px;
}

.main-section {
    padding-top: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

.left-section {
    width: fit-content;
    text-align: center;
    align-self: center;
}

.left-section p {
    color: aliceblue;
    font-size: 40px;
    box-shadow: 1px 19px 39px -3px #594b4b;
}


/* .main-section calculator-body {
  background-color: wheat;
} */